
<% form_for(@comment) do |c| %>
  <% if @comment.errors.any? %>
    <div id="">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <p>
  		<% c.label "Name" %><br>
  		<% c.text_field :commenter_p %>
  	</p>

  	<p>
  		<% c.label "Title" %><br>
  		<% c.text_area :body_p %><br>
  		<% c.submit "Save Message" %>
  	</p>
  </div>
<% end %>